$black: #000;
$white: white;

@mixin flex($align, $justify, $direction) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

h1 {
  font-size: 48px;
  @media (max-width: 720px) {
    font-size: 36px;
  }
}

section {
  margin-top: 100px;
  margin-bottom: 100px;
  @media (max-width: 1270px) {
    margin-top: 48px;
    margin-bottom: 48px;
  }
}

section:nth-child(3) {
  background-color: $black;
}

section:nth-child(5) {
  background-color: $black;
}

.normal {
  font-weight: 400;
}

.hero {
  position: relative;
  display: flex;
  padding: 0 32px;

  @media (max-width: 1270px) {
    flex-direction: column-reverse;
  }
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 32px;
}

.header {
  font-size: 48px;
  text-align: center;
  margin-bottom: 32px;
}

.hero-content {
  @include flex(start, end, column);
  gap: 48px;
  height: 100%;
  @media (max-width: 1270px) {
    gap: 24px;
  }
}

.hero-links {
  display: flex;
  gap: 48px;
  .hero-icon {
    width: 64px;
    height: 64px;
  }
}

.hero-description {
  max-width: 701px;
  font-size: 24px;
  font-weight: 400;
  color: $black;
}

.hero-image {
  margin-left: auto;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.skills-container {
  @include flex(start, center, row);
  gap: 20px;
  flex-wrap: wrap;
}

.skill-card {
  height: 180px;
  width: 186px;
  padding: 16px;
  @include flex(center, center, column);
  gap: 16px;
  border-radius: 8px;
  border: 1px solid $black;
  color: $black;
  i {
    font-size: 48px;
  }
  p {
    font-size: 18px;
    font-weight: 800;
  }
  @media (max-width: 470px) {
    height: 150px;
    width: 150px;
  }
}

.white {
  color: $white;
  padding: 100px 32px;
}

.experience-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.experience-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 16px;
  border-radius: 8px;
  border: 1px solid var(--white);
  .header-wrapper {
    display: flex;
    gap: 24px;
    align-items: center;
  }
  .card-header {
    font-size: 30px;
  }
  .card-description {
    font-size: 18px;
  }
  .experience-icon {
    display: inline;
    width: 32px;
    height: 32px;
  }
}

.about {
  @include flex(start, space-between, row);
  gap: 123px;
}

.about-content {
  .header {
    text-align: left;
  }
  .about-description {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 16px;
    line-height: 26px;
    color: $black;
  }
}

.avatar-wrapper {
  height: 527px;
  width: 495px;
  flex-shrink: 0;
  img {
    height: 100%;
    width: 100%;
  }
}

.projects-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.project {
  display: flex;
  gap: 124px;
  .project-image {
    height: 338px;
    border-radius: 20px;
    overflow: hidden;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  .project-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    max-width: 495px;
    .number {
      font-size: 48px;
    }
    .project-title {
      font-size: 30px;
    }
    .project-description {
      color: $white;
    }
  }
  .more-btn {
    display: block;
    padding: 16px 20px;
    border-radius: 8px;
    margin-right: auto;
  }
}

.project:nth-child(even) {
  .project-image {
    order: 1;
  }
}

.contacts {
  flex-shrink: 1;
  flex-grow: 2;
  max-width: 598px;
  h2 {
    font-size: 48px;
    line-height: 48px;
  }
  .description {
    margin: 32px 0;
    color: $black;
    line-height: 24px;
  }
}

.call-me {
  display: flex;
  justify-content: space-between;
  gap: 123px;
}

.email,
.phone {
  font-size: 18px;
  font-weight: 600;
}

.email {
  margin-bottom: 12px;
}
